<h1>Visitors</h1>

<table>
	<% @visitors.each do |visitor| %>
		<tr>
			<td><%= visitor.name %></td>
			<td><%= link_to "show", visitor_path(visitor) %></td>
			<td><%= link_to "edit", edit_visitor_path(visitor) %></td>
			<td><%= link_to "delete", visitor_path(visitor), method: :delete %></td>
		</tr>
	<% end %>
</table>