<h4>Cinemas Details</h4>

<p><b>name:</b> <%= @cinema.cinema_name %></p>
<p><b>address:</b> <%= @cinema.address %></p>
<p><b>postcode:</b> <%= @cinema.postcode %></p>
<p><b>telephone:</b> <%= @cinema.telephone %></p>